pkgbase = cachyos-ananicy-rules
	pkgdesc = CachyOS - ananicy-rules
	pkgver = 1.1.34
	pkgrel = 1
	epoch = 1
	url = https://github.com/CachyOS/ananicy-rules
	arch = any
	groups = cachyos
	license = GPL-3.0-or-later
	makedepends = git
	provides = ananicy-rules-git
	conflicts = ananicy-rules-git
	replaces = ananicy-rules-git
	source = ananicy-rules::git+https://github.com/CachyOS/ananicy-rules.git#tag=1.1.34
	sha256sums = 0ded255d12aabaffa4a29dc889c31e0516f27e26de5d7664b14d72f5983f7335

pkgname = cachyos-ananicy-rules
